/* ---- reset ---- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: linear-gradient(to right, #ff2b27, #1565c0);
}

/* ---- stats.js ---- */

.info{
  text-align:center;
  position:absolute;
  margin:0 auto;
  display: flex;
}

img{
	width:100px;
	height:100px;
	padding:5px;
	border-radius:50%;
	background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

h1{
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	padding:10px 20px;
  margin-left: -50px;
  padding-left: 55px;
	border-radius:10px;
	background-color: rgba(255, 255, 255, 0.8);
	color:#1565c0
}

.waves {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 40vh;
}

/* Animation */
.wave-paths {
  use {
    animation: move-waves 10s ease-in-out infinite;
    fill: url(#wave-gradient);
  }
  use:nth-child(odd) {
    animation-direction: reverse;
    animation-duration: 13s;
  }
  use:nth-child(1) {
    animation-delay: -2s;
    opacity: .7;
  }
  use:nth-child(2) {
    animation-delay: -3s;
    opacity: .5;
  }
  use:nth-child(3) {
    animation-delay: -4s;
    opacity: .3;
  }
  use:nth-child(4) {
    animation-delay: -5s;
  }
}

@keyframes move-waves {
  0% {
    transform: translate3d(-30px, 0, 0);
  }
  50% {
    transform: translate3d(30px, 0, 0);
  }
  100% {
    transform: translate3d(-30px, 0, 0);
  }
}
